h1,
p {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.ais-Hits-item {
  width: 100%;
  margin-top: 0rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.hitName {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content {
  margin-top: 2rem;
}
