@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  line-height: 1.5;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/9d/a7/aa/9da7aaf50833e6a0580c7ebea92f4a06.png);
}

.wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  vertical-align: middle;
}

.animal-category {
  background-color: #1a202c21;
}

.country {
  border-bottom: solid #cccccc 1px;
  padding: 0.5rem;
  font-size: 0.6rem;
  font-weight: 500;
}

.suggestion-list {
  position: relative;
  top: 1rem;
  box-shadow: 3px 4px 20px #63b3ed;
  border-radius: 15px;
  background: linear-gradient(360deg, #cccccc 0%, hsl(0deg 0% 98%) 10%);
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

.country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper h2 {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

input {
  border: 0;
  outline: none;
  padding: 0 0.5rem;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  font-size: 0.75rem;
  box-shadow: 3px 4px 20px #63b3ed;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.75rem;
}

*:focus {
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.4rem;
  font-size: 0.6rem;
}

.country {
  &--category {
    min-width: 2rem;
    max-width: 4rem;
    margin-left: 0.5rem;
    color: white;
    font-size: 0.5rem;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
  }
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 260px;
  overflow-y: auto;
  padding: 0;
  border-radius: 15px;
}

.suggestions::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
  border-radius: 20px;
}

.suggestions li {
  padding: 0.75rem;
  font-size: 0.6rem;
  font-weight: 500;
}

.suggestion-active,
.suggestions li:hover {
  background: #cbd5e082;
  /* color: #fff; */
  cursor: pointer;
  font-weight: 700;
}

.tablist {
  background-color: white;
  font-size: 0.75rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab-content {
  max-height: 260px;
  overflow-y: auto;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link {
  color: rgb(97, 89, 89);
}

.nav-link:hover {
  color: none;
}

.nav-tabs .nav-link.active {
  color: rgb(0, 132, 255);
  border-radius: 15px;
}
