* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  line-height: 1.5;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.animal-category {
  background-color: #1a202c21;
}

.breed {
  padding-left: 2rem !important;
}

.suggestion-list {
  position: relative;
  top: 1rem;
  box-shadow: 3px 4px 20px #888888;
  border-radius: 5px;
  background: linear-gradient(360deg, #1a202c21 0%, hsl(0deg 0% 98% / 0%) 10%);
}

.wrapper h2 {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

input {
  border: 0;
  outline: none;
  padding: 0 0.5rem;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 0.75rem;
  box-shadow: 3px 4px 20px #888888;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.75rem;
}

*:focus {
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.4rem;
  font-size: 0.6rem;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 260px;
  overflow-y: auto;
  padding: 0;
  border-radius: 5px;
}

.suggestions::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
  border-radius: 20px;
}

.suggestions li {
  padding: 0.5rem;
  font-size: 0.6rem;
  font-weight: 500;
}

.suggestion-active,
.suggestions li:hover {
  background: #cbd5e082;
  /* color: #fff; */
  cursor: pointer;
  font-weight: 700;
}
